 <!-- slider -->
 <li class='layout_li'>
    <div class="select"><span class='layout_name'>slider</span><span class="detail">（轮播）</span></div>
    <div class='layout_area1 editors' editorName="slider">
        <div class='addEditor'>新增装饰</div>
        <div class='editor'>
            <label for=''>图片地址</label><input class="imgAddr" content="img" type='text' name="imgAddr"></br>
            <label for=''>链接地址</label><input class="link" content="link" type='text' name="imgLink"></br>
            <label for=''>编辑内容</label><input class="imgText" type='text' name="imgText">
        </div>
        <div class='addEditor'>新增装饰</div>
    </div>
    <a href='javascript:void(0);' class='removeLayout remove'>x</a>
</li>
    
<!-- columns -->
<li class='layout_li'>
    <div class="select"><span class='layout_name'>columnsImg</span><span class="detail">（通栏图片）</span></div>
    <div class='layout_area1 editors' editorName="columnsImg">
        <div class='editor'>
            <label for=''>图片地址</label><input class="imgAddr" content="img" type='text' name="imgAddr"></br>
            <label for=''>链接地址</label><input class="link" content="link" type='text' name="link">
        </div>
    </div>
    <a href='javascript:void(0);' class='removeLayout remove'>x</a>
</li>
<a href='javascript:void(0);' id='closeSelect'>x</a>
