<ul>
    <li class="nav_images">上传图片</li>
    <li class="curr" link="/">首页</li>
    <li class="nav_custom">自定义</li>
</ul>
<script>
$(".nav_images").click(function(){
    if(!$(".img_con .img_list").length>0){
        reloadimg();
    }
});
</script>