<% include head.ejs%>
</head>
<body>
<div id="page">
    <% include header.ejs%>
    <div id="pageBody">
        <div class="wrapper">
            <%- data.customcon%>
        </div>
    </div>
    <% include footer.ejs%>
</div>  
</body>
</html>