
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                                                      
<div id="page1" pagename="index" class="page">
    <div class="options"><button id="save">保存结构</button></div>
    <ul class="page_container">
        <div class="layout">增加新模块</div><li class="layout_li open" layoutid="layout9100" layoutname="slider">
        <div class="select"><span class="layout_name">slider</span><span class="detail">（轮播）</span></div>
        <div class="layout_area1 editors" editorname="slider">
            <div class="addEditor">新增装饰</div>
            <div class="editor">
                <label for="">图片地址</label><input class="imgAddr" content="img" type="text" name="imgAddr" value="/images/3tsnvfff8bq8bhrv.png"><br>
                <label for="">链接地址</label><input class="link" content="link" type="text" name="imgLink" value="/custom?tn=custom414"><br>
                <label for="">编辑内容</label><input class="imgText" type="text" name="imgText" value="test2">
            </div>
            <div class="addEditor">新增装饰</div>
        </div>
        <a href="javascript:void(0);" class="removeLayout remove">x</a>
    </li><div class="layout">增加新模块</div><li class="layout_li open" layoutid="layout8543" layoutname="columnsImg">
        <div class="select"><span class="layout_name">columnsImg</span><span class="detail">（通栏图片）</span></div>
        <div class="layout_area1 editors" editorname="columnsImg">
            <div class="editor">
                <label for="">图片地址</label><input class="imgAddr" content="img" type="text" name="imgAddr" value="/images/3tsnvfff8bq8bhrv.png"><br>
                <label for="">链接地址</label><input class="link" content="link" type="text" name="link" value="/custom?tn=custom976">
            </div>
        </div>
        <a href="javascript:void(0);" class="removeLayout remove">x</a>
    </li><div class="layout">增加新模块</div><li class="layout_li open" layoutid="layout6458" layoutname="columnsImg">
    <div class="select"><span class="layout_name">columnsImg</span><span class="detail">（通栏图片）</span></div>
    <div class="layout_area1 editors" editorname="columnsImg">
        <div class="editor">
            <label for="">图片地址</label><input class="imgAddr" content="img" type="text" name="imgAddr" value="/images/dd.png"><br>
            <label for="">链接地址</label><input class="link" content="link" type="text" name="link" value="/custom?tn=custom412">
        </div>
    </div>
    <a href="javascript:void(0);" class="removeLayout remove">x</a>
</li><div class="layout">增加新模块</div>
    </ul>
</div>
<script>

</script>
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                