<div id="page1" pageName="index" class="page">
    <div class="options"><button id="save">保存结构</button><button id="reloadLayout">刷新</button></div>
    <ul class="page_container">
        <div class="layout">增加新模块</div>
    </ul>
</div>
<script>

</script>